.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logo {
  width: 10rem;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#container {
  width: 80%;
  margin-left: 10%;
}

.message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.message-text-sent {
  text-align: right;
  margin-right: 3%;
}

.message-text-received {
  text-align: left;
  margin-left: 3%;
}
.message::after {
  content: "";
  clear: both;
  display: table;
}

.received {
  background-color: #ddd;
  border-color: #ccc;
}

.figure-received {
  float: left;
  margin-right: 20px;
}

.time-received {
  float: right;
}

.sent {
  border-color: #ccc;
  background-color: #f5f6f7;
}

.figure-sent {
  float: right;
  margin-left: 20px;
}

.time-sent {
  float: left;
}
